<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/ed2d2bf4c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./../css/bootstrap (1).css" />
    <title>Project-CRUD</title>
  </head>
  <body></body>
</html>
